.intropage{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.imagemExe{
    width: 200px;
}

.texto{
    width: 70%;
    text-align: justify;
    padding: 2%;
}

.imagemIntro{
    width: 30%;
    padding: 2%;
    text-align: center;
}


.linkCaract{
    cursor: pointer;
}

.listaCaract{
    list-style: none;
    padding: 4%;
}
.listaCaract li{
    padding-bottom: 3%;
    text-align: justify;
}

.icone{
    margin-right: 2%;
}

.imgModal{
    display: flex;
    align-items: center;
    justify-content: center;
}